<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>A Basic HTML5 Template</title>
  <meta name="description" content="index page with app instructions.">
  <meta name="I.D" content="app instructions">

  <meta property="title" content="A Basic HTML5 Template">
  <meta property="type" content="website">
  <meta property="url" content="https://ita.eu.pythonanywhere.com/">
  <meta property="description" content="A simple HTML5 Template for new projects.">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <h1> set of instructions to test this web app : </h1>
    <ul>
        <li>Code and install info on <a href="https://github.com/sw4rmAgent/flask_server">Github</a></li>
        <li>Pull JSON information from the server with the GET method here : https://ita.eu.pythonanywhere.com/test_http_json?method=GET</li>
        <li>Send JSON information to the server with the POST method here : https://ita.eu.pythonanywhere.com/test_http_json?method=POST&x=3</li>
        <li>Send JSON FORM info to the server with the POST method here : https://ita.eu.pythonanywhere.com/test_http_json_form?method=POST</li>
    </ul>
</body>
</html>
